joblib==1.5.1
numpy==1.26.4
pandas==2.3.1
python-dotenv==1.1.1
requests==2.32.4
scikit_learn==1.7.1
streamlit==1.48.0
supabase==2.18.0
catboost==1.2.5
plotly==5.10.0
streamlit-autorefresh==1.0.1
humanize==4.12.3
openpyxl==3.1.5
fastapi==0.115.0
uvicorn==0.30.6
supervisor==4.2.5